.count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #0d9488;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.des-nav{
    /* display: flex; */
    justify-content: flex-start;
    gap: 30px;
}